In [13]:
import numpy as np
import pandas as pd

In [7]:
labels = ['sola','bimbo','funso','sope']
age = [28,25,22,15]

pd.Series(age, labels)

sola     28
bimbo    25
funso    22
sope     15
dtype: int64

In [16]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [20]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A -1.131865  0.870217 -0.684208  0.205616
B  0.274817 -0.654051 -0.991170  1.548393
C  0.465877 -1.923173  0.357781 -1.689244
D  0.573019  0.967760 -1.660413 -0.635148
E  0.956449 -0.086045 -1.069457 -2.302411

In [29]:
df['new'] = df['X'] + df['W']
df

          W         X         Y         Z       new
A -1.131865  0.870217 -0.684208  0.205616 -0.261649
B  0.274817 -0.654051 -0.991170  1.548393 -0.379235
C  0.465877 -1.923173  0.357781 -1.689244 -1.457296
D  0.573019  0.967760 -1.660413 -0.635148  1.540779
E  0.956449 -0.086045 -1.069457 -2.302411  0.870404

In [32]:
df.loc[['C','D'],['X','Z']]

          X         Z
C -1.923173 -1.689244
D  0.967760 -0.635148

In [38]:
df[df['W']>0],[['Y','Z']]

(          W         X         Y         Z       new
 B  0.274817 -0.654051 -0.991170  1.548393 -0.379235
 C  0.465877 -1.923173  0.357781 -1.689244 -1.457296
 D  0.573019  0.967760 -1.660413 -0.635148  1.540779
 E  0.956449 -0.086045 -1.069457 -2.302411  0.870404, [['Y', 'Z']])

In [40]:
#index Level
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [41]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [42]:
hier_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [43]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1 -0.250324  1.783461
   2 -0.897649 -0.385566
   3  1.953148 -1.080830
G2 1  0.409575  0.214724
   2 -0.607651 -0.026767
   3  0.425221  0.062676

In [47]:
df.index.names = ['quantity','Num']
df

                     A         B
quantity Num
G1       1   -0.250324  1.783461
         2   -0.897649 -0.385566
         3    1.953148 -1.080830
G2       1    0.409575  0.214724
         2   -0.607651 -0.026767
         3    0.425221  0.062676

In [52]:
df.loc['G1'].loc[3]['A']

1.9531483386844684

In [54]:
df.xs(1,level='Num')

                 A         B
quantity
G1       -0.250324  1.783461
G2        0.409575  0.214724